<form action='/signup/new' method='post'>
  <label for='username'>Username:</label>
  <input name='username' placeholder='username' type='text'>
  <label for='password'>Password:</label>
  <input name='password' placeholder='password' type='password'>
  <button type='submit' value='Submit'>
</form>
